<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SEARCH</td><td>ValidLoginCheck.SEARCH()[pri:1, instance:MakeMyTrip.test.ValidLoginCheck@587d1d39]<br/></td></tr>
</table>
