<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73819a">  <td>17/11/09 16:13:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginCheck.SEARCH()[pri:1, instance:MakeMyTrip.test.ValidLoginCheck@587d1d39]">SEARCH</td> 
  <td>main@1250391581</td>   <td></td> </tr>
<tr bgcolor="73819a">  <td>17/11/09 16:13:15</td>   <td>-28745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ValidLoginCheck.openTheBrowser()[pri:0, instance:MakeMyTrip.test.ValidLoginCheck@587d1d39]">&gt;&gt;openTheBrowser</td> 
<td>&nbsp;</td>  <td>main@1250391581</td>   <td></td> </tr>
</table>
